<html>
    <head>
        <title>Book Recommendations</title>
    </head>
    <body>
        <h2>Book Recommendations</h2>
       {% for book in books %} 
       <div style = "border: 1px solid black; padding: 10px; margin: 10px;">
       <h3>{{ book.title }}</h3>
       <p><strong>Authors:</strong> {{ book.authors|join(', ') }}</p>
       {%if book.link%}
       <p><a href="{{ book.link }}" target = '_blank '>Read more</a></p>
       {% endif %}
       </div>
       {% endfor %}
       {%else%}
       <p> No book recommendations available</p>
       {%endif%}
    </body>
</html>